html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', 'SourceCodePro', Arial, Helvetica, sans-serif;
    transition: background .3s;
}

body.dark {
    background: #1d1f21;
    color: #b2b2b2;
}

body.light {
    background: #E0E0E0;
    color: #555;
}

* {
    box-sizing: border-box;
    user-select: none;
}

main {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    height: 100%;
    min-height: 800px;
    margin: 0 auto;
}

#headerIcon {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#headerIcon>div {
    margin: 0 10px;
    align-self: center;
}

#main {
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 2em;
    vertical-align: middle;
    padding: 1px 10px 0 10px;
    height: 6em;
    overflow: hidden;
}

.focus:after {
    content: "click or press any key to focus";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    color: #ec0
}

.loading:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center no-repeat url("src/img/loading.svg");
}

#demo {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-top: 1.5em;
}

#main span {
    padding: 0 1px;
}

.foc {
    background: #a0a0a03f;
}

.correct {
    color: #98c379;
}

.wrong {
    color: #e05749;
    background-color: #a133333f;
}

#wpm {
    /* opacity: 0; */
    width: 250px;
    padding: 20px;
    /* background: #444; */
    line-height: 1.8em;
    margin: 20px auto 0 auto;
    transition: .3s;
}

#wpm>p {
    font-size: 2em;
    text-align: center
}

#PausePlay {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

#PausePlay>div {
    pointer-events: none;
}

#pause {
    position: relative;
    float: left;
    height: 20px;
    width: 0px;
    transition: width .3s;
}

#pause:after, #pause:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 40%;
    background: #aaa;
    border-radius: 1%;
    left: 0;
    transition: .3s;
}

#pause:after {
    left: 60%;
}

#play {
    position: relative;
    float: left;
    opacity: 1;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent transparent transparent #aaa;
    transition: .3s;
}

/* #PausePlay:hover #pause:after,
#PausePlay:hover #pause:before {
    background: #ec0;
}

#PausePlay:hover #play {
    border-color: transparent transparent transparent #ec0;
} */

.playing #pause {
    width: 18px;
}

.playing #play {
    border-width: 10px 0 10px 0px;
}

/* #reload {
    cursor: pointer;
    transition: .3s
}

#reload:hover {
    color: #ec3;
} */