#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width:100%;
    background: #2d2f30;
}

#menu_icon_box {
    position: relative;
    width: 0;
    height: 85px;
    transition: 0s;
    transition-delay: .7s;
}

#menu_icon_box.open {
    width: 100%;
}

#menu_icon {
    position: absolute;
    left: 0%;
    display: block;
    width: 45px;
    height: 35px;
    margin: 30px;
    cursor: pointer;
    transition: 0s;
    transition-delay: .8s;
}

#menu_icon_box.open #menu_icon {
    left: 100%;
    margin-left: -85px;
}

#menu_icon>i {
    position: absolute;
    display: block;
    height: 12%;
    left: 0;
    background: #fff;
    transition: opacity .2s;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}

#menu_icon:hover i {
    opacity: 60%;
}

#menu_icon_box.open #menu_icon .menu_icon_top {
    animation-delay: 0s;
    animation-name: top_open;
}

#menu_icon_box.open #menu_icon .menu_icon_middle {
    animation-delay: .1s;
    animation-name: middle_open;
}

#menu_icon_box.open #menu_icon .menu_icon_bottom {
    animation-delay: .2s;
    animation-name: bottom_open;
}

#menu_icon_box.off #menu_icon .menu_icon_top {
    width: 100%;
    left: 0;
    animation-delay: .2s;
    animation-name: top_off;
}

#menu_icon_box.off #menu_icon .menu_icon_middle {
    width: 60%;
    left: 40%;
    animation-delay: .1s;
    animation-name: middle_off;
}

#menu_icon_box.off #menu_icon .menu_icon_bottom {
    width: 35%;
    left: 65%;
    animation-delay: 0s;
    animation-name: bottom_off;
}

.menu_icon_top {
    top: 0;
    left: 0;
    width: 35%;
}

.menu_icon_middle {
    top: 40%;
    left: 0;
    width: 60%;
}

.menu_icon_bottom {
    top: 80%;
    left: 0;
    width: 100%;
}

@keyframes top_open {
    30% {
        left: -100%;
        width: 0%;
    }
    100% {
        width: 100%;
        left: 0;
    }
}

@keyframes middle_open {
    30% {
        left: -100%;
        width: 0%;
        background: #999;
    }
    100% {
        width: 60%;
        left: 40%;
    }
}

@keyframes bottom_open {
    30% {
        left: -100%;
        width: 0%;
        background: #999;
    }
    100% {
        width: 35%;
        left: 65%;
    }
}

@keyframes top_off {
    0% {
        width: 100%;
        left: 0;
    }
    30% {
        left: 200%;
        width: 0%;
    }
    31% {
        left: -100%;
        width: 0%;
        background: none;
    }
    100% {
        left: 0;
        width: 35%;
    }
}

@keyframes middle_off {
    0% {
        width: 60%;
        left: 40%;
    }
    30% {
        left: 200%;
        width: 0%;
    }
    31% {
        left: -100%;
        width: 0%;
        background: none;
    }
    100% {
        left: 0;
        width: 60%;
    }
}

@keyframes bottom_off {
    0% {
        width: 35%;
        left: 65%;
    }
    30% {
        left: 200%;
        width: 0%;
    }
    31% {
        left: -100%;
        width: 0%;
        background: none;
    }
    100% {
        left: 0;
        width: 100%;
    }
}

#menu_box {
    overflow: hidden;
    width: 0;
    transition: .6s;
    transition-delay: .6s;
}