#menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* transition: background .3s; */
    background: #2d2f30;
}

#menu_icon_box {
    position: relative;
    width: 0;
    height: 85px;
    transition: 0s;
    transition-delay: .4s;
    cursor: pointer;
}

.on #menu_icon_box {
    width: 100%;
}



#menu_icon {
    position: absolute;
    left: 0%;
    display: block;
    width: 45px;
    height: 35px;
    margin: 30px;
    transition: 0s;
    transition-delay: .4s;
}

.on #menu_icon {
    left: 100%;
    margin-left: -85px;
}

#menu_icon i {
    position: absolute;
    display: block;
    height: 14%;
    background: #aaa;
    transition: opacity .5s;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
}

#menu_icon:hover i {
    opacity: 60%;
}

.menu_icon_top {
    top: 0;
    width: 100%;
    left: 0;
}

.menu_icon_middle {
    top: 40%;
    width: 60%;
    left: 0;
}

.menu_icon_bottom {
    top: 80%;
    width: 35%;
    left: 0;
}

.on .menu_icon_top {
    animation-name: top_open;
}

.on .menu_icon_middle {
    animation-name: middle_open;
    animation-delay: .1s;
}

.on .menu_icon_bottom {
    animation-name: bottom_open;
    animation-delay: .2s;
}

.off .menu_icon_top {
    width: 100%;
    left: 0;
    animation-name: top_off;
    animation-delay: .2s;
}

.off .menu_icon_middle {
    width: 60%;
    left: 40%;
    animation-name: middle_off;
    animation-delay: .1s;
}

.off .menu_icon_bottom {
    width: 35%;
    left: 65%;
    animation-name: bottom_off;
}

@keyframes top_open {
    30% {
        left: -100%;
        width: 0%;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

@keyframes middle_open {
    30% {
        left: -100%;
        width: 0%;
    }

    100% {
        width: 60%;
        left: 40%;
    }
}

@keyframes bottom_open {
    30% {
        left: -100%;
        width: 0%;
    }

    100% {
        width: 35%;
        left: 65%;
    }
}

@keyframes top_off {
    30% {
        left: 200%;
        width: 0%;
    }

    100% {
        left: 0;
        width: 100%;
    }
}

@keyframes middle_off {
    30% {
        left: 200%;
        width: 0%;
    }

    100% {
        left: 0%;
        width: 60%;
    }
}

@keyframes bottom_off {
    30% {
        width: 0%;
        left: 200%;
    }

    100% {
        width: 35%;
        left: 0%;
    }
}

#menu_box {
    width: 0;
    transition: .9s;
    transition-delay: .2s;
    overflow: hidden;
}

.on #menu_box {
    width: 400px;
    min-width: 100%;
}

#modinput {
    width: 100%;
    margin: 30px 10px 0 10px;
    min-width: 340px;
    line-height: 3em;
    margin-left: 40px;
    color: #e0e4e4;
}

#modinput input[type="text"] {
    width: 80px;
    margin-left: 1em;
    font-size: .9em;
    text-align: center;
    color: #e0e4e4;
    background: none;
    /* border-bottom: 1.5px solid #e0e4e4; */
}

#modinput input[name="mod"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

#modinput input[name="mod"]:hover {
    border: 5px solid #fff;
}

#modinput input[name="mod"]:checked {
    border: 6px solid #fff;
}

#modinput label:hover {
    cursor: pointer;
}

#BColor {
    display: none;
}

.flexCenter {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

 #Bgcolor {
    cursor: pointer;
    display: block;
    position: relative;
    margin: 0 10px;
    height: 30px;
    width: 60px;
    border-radius: 70px;
    background: #1d1f21;
    transition: background .3s;

}

#Bgcolor:before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fafafa;
    transition: .3s;
}


#BColor:checked~#Bgcolor:before {
    left: 35px;
    background: #1d1f21;
}

#BColor:checked~#Bgcolor {
    background: #fafafa;
}


input[type=range] {
    -webkit-appearance: none;
    width: 120px;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #fafafa;
}

input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fafafa;
    border: 1px solid #000;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #555;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #fafafa;
}

input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fafafa;
    border: 1px solid #000;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #555;
}

input[type=range]::-ms-fill-upper {
    background: #fafafa;
}

input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;

    background: #fafafa;
    border: 1px solid #000;
}

input[type=range]:focus::-ms-fill-lower {
    background: #fafafa;
}

input[type=range]:focus::-ms-fill-upper {
    background: #fafafa;
}


input[type=submit] {
    padding: 10px;
    border-radius: 3px;
    line-height: 1em;
    background: none;
    border: .5px #aaa solid;
    color: #fafafa;
    cursor: pointer;
    transition: background 0.3s
}

input[type=submit]:hover {
    background: #92929240;
}


.countdownBox {
    display: block;
    width: 74px;
    height: 1em;
    position: relative;
    margin:0 10px;
    transform-style: preserve-3d;
    transform-origin: .5em;
    transform: rotateX(90deg);
    transition: transform .5s;
}

.countdownBox div {
    position: absolute;
    line-height: 1em;
    text-align: center;
}

.one {
    transform: translateZ(.5em);
}

.two {
    transform: rotateX(-90deg) translateZ(.5em);
}


#countdown:checked~.countdownBox {
    transform: rotateX(0deg);
}


#TimeCD {
    font-size: 14px;
    line-height: 14px;
    color:#666;
    display: none;
}
#TimeCD span{
    transition: .3s;
    cursor: pointer;
}

#TimeCD span.selected{
    color:#afafaf;
}

#TimeCD span:hover{
    color:#fff;
}

#countdown:checked~#TimeCD {
    /* visibility: visible; */
    display: block;
}


#BitCount {
    height:0px;
    overflow: hidden;
    transition: height .3s;
    visibility: hidden;
}

#mod2:checked~#BitCount {
    height:90px;
    visibility: visible;
}

#countdown:checked~#WordCount {
    visibility: hidden
}

#reload {
    cursor: pointer;
    transition: .3s
}

#reload:hover {
    color: #ec3;
}